@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&family=Roboto&display=swap');

/* границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента-упрощает работу с размерами, позволяет указывать их более логично */
* {
    box-sizing: border-box;
    margin: 0;
}
/*ОБНУЛЕНИЕ*/
::before,
::after {
   padding: 0;
   margin: 0;
   border: 0;
}
li{
    list-style: none;
}
/* плавный скрол */
html {
    scroll-behavior: smooth;
    overflow-x:  hidden;
}

:root {
    --font-light: #ffffff;
    --bg-gold: #BDAE82;
    --bg-dark: #000000;
}

/* СВЕТЛАЯ ТЕМА */
.theme{
display:flex;
padding-left:1vw;
width:4vw;
height: 4vh;
}
.theme:hover{
    cursor:pointer;
    filter:invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: .3s;
}

.light-theme {
    background-color: #fff;
    color: #000;
  }
  
.light-theme:hover {
    color: #000;
  }

/* прижать footer к низу страницы, */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    font-size: 20px;
    overflow:hidden;
    background-color: var(--bg-dark);
}

body.light-theme{
    background-color: var(--font-light);
}


body._lock{
    overflow:hidden;
}
.container {
    max-width:1440px;
    margin: 0 auto;
    padding: 0 20px;
 background: #000; 
}

@media(max-width: 1440px){
    .container{
        max-width: 100vw;
        padding: 0 20px;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 100vw;
        padding: 0;
    }
}

@media(max-width: 480px){
    .container{
        max-width: 90vw;
        padding: 0 5px;
        overflow-x:  hidden;
        }
    }


/*фоновое изображение для хедер*/
.header-block {
    display: flex;
    padding-top:20px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}
@media(max-width: 1440px){
    .header-block{
        max-width: 100vw;
        background-size: fixed;
    }
}

@media(max-width: 768px){
    .header-block{
        background-image: url('./assets/img/bg768.jpg');
        background-position: top;
        background-size: fixed;
        max-width: 100vw;
        padding: 21px 60px;
    }
}

@media(max-width: 480px){
    .header-block{
        background-color: cover;
        max-width: 100vw;
        overflow-x:  hidden;
    }
}

.header-logo {
    display: flex;
}

.nav__menu {
    margin-left: auto;
    max-width: 500px;
    padding: 0 17px 0 0;
}

@media(max-width: 1440px){
    .nav__menu {
     max-width: 34.7vw;
    }
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

/* отступы между элементами списка */
.nav-link {
    line-height: 50px;
    transition: color .3s;
    margin-left: auto;
}

.nav-link:hover {
    color: var(--bg-gold);
    transition: .3s;
}

.menu__item{
    padding:0 15px;
}

a {
    text-decoration: none;
    color: var(--font-light)
}
.languages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: var(--font-light);
    max-width:70px;
    padding-right:8px;
}

@media(max-width: 1440px){
    .languages{
        max-width:6vw;
    }
}

@media(max-width: 768px){
    .languages{
        justify-content: start;
        padding-left:57.68vw;
        max-width:13vw;
    }
}
@media(max-width: 480px){
    .languages{
        justify-content: start;
        padding-left:0px;
        max-width:6vw;
        font-weight: bold;
        font-size: 16px;
    }
}
.en{
    color: var(--font-light);
    padding-right:8px;
    cursor:pointer;
}

.ru{
    padding-left:8px;
    cursor:pointer;
}
.ru._active{
    color:var(--bg-gold);
}
.en._active{
    color:var(--bg-gold);
}


@media(max-width: 1440px){
    .en{
        max-width: 2vw;
        padding-right:20px; 
    }
}

@media(max-width: 768px){
    .en{
        max-width: 4vw;     
    }
}
@media(max-width: 480px){
    .en{
        max-width: 2vw;     
    }
}

@media(max-width: 1440px){
    .slash{
        max-width: 2vw;
        padding-left:10px; 
    }
}

@media(max-width: 768px){
    .slash{
        max-width:4vw;
        padding-left:0px; 
    }
}
@media(max-width: 480px){
    .slash{
        max-width: 2vw;     
    }
}

@media(max-width:1440px){
    .ru{
        max-width: 2vw;
        padding-left:5px;
        }
    }

@media(max-width:768px){
    .ru{
      max-width: 4vw;
     padding-left:19px;
 }
 }

    @media(max-width: 480px){
        .ru{
         max-width: 2vw;
         padding-left:0px;     
        }
    }
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
    transition: .3s;
}
/* menu-hamburger */

 .hamburger{
    display: none;
}
@media(max-width: 768px){
    body {
        overflow:hidden;
    }
body._lock{
    overflow:hidden;
}
    .hamburger{
        z-index: 5; 
        display: block; 
        position: relative; 
        width:50px;
        height:30px;
        cursor:pointer;
        right:-14%;
        top:1%;
        overflow: hidden;
    }

    .hamburger span,
    .hamburger::before,
    .hamburger::after{
        right:0;
        position: absolute;
        height:3px;
        width:100%;
        transition:all 0.3s ease 0s;
        background-color: var(--font-light);
    }
    .hamburger::before,
    .hamburger::after{
        content:'';
    }
    .hamburger::before{
        top:0;
    }
    .hamburger::after{
       bottom:0;   
    }
    .hamburger span{
        top:50%;
        transform:scale(1) translate(0px, -50%); 
    }

    .hamburger._active span {
         transform:scale(0) translate(0px, -50%);
    }
    .hamburger._active::before{
        top:50%;
        transform:rotate(-45deg) translate(0px, -50%);
   }
   .hamburger._active::after{
    bottom:50%;
    transform:rotate(45deg) translate(0px, 50%);
}

    .nav__menu {
        top:0; 
        position:absolute;
        right:-100%;
        width:100%;
        height:100%; 
        background-color: #000000;
        padding-top:134px;
        transition:all 0.5s ease 0s;
        overflow: hidden;
    }
   
    .nav__menu._active{
        width:100%;
        right: 0;
        overflow: hidden; 
    }

    .nav__list {
        display:flex;
        flex-direction: column; 
        align-items: flex-start;  
        overflow: hidden;
        width:620px;
    }

    .nav-link{
      font-size: 34.82px;
      line-height: 72.5px;
    }
}

/* <section class="hero-block"> */
.hero-block {
    background-image: url('./assets/img/bg.jpg');
    background-position: center -70px;
    background-repeat: no-repeat;
    padding-bottom:648px;
}

@media(max-width: 1440px){
    .hero-block{
    background-size: cover;
    width:100%; 
    } 
}

@media(max-width: 768px){
    .hero-block{
        background-image: url('./assets/img/bg768.jpg');
        background-position: center -93px;
        background-size: cover;
        padding-bottom:336px;
        width:100%;
    }
}

@media(max-width: 480px){
    .hero-block{
        max-width:100vw;
    }
}
.main-hero__container{
    max-height:330px;
    max-width:500px;
    padding-top:180px;
    padding-left:60px;
}

@media(max-width: 1440px){
.main-hero__container{
    max-height:30vh;
    max-width:35vw;
    padding-top:180px;
    padding-left:60px;
}
}

@media(max-width: 768px){
    .main-hero__container{
        max-width:59vw;
        padding-top:76px;
        padding-left:60px;
    }
}

.section-hero-title{
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color:var(--font-light);
}

@media(max-width: 768px){
    .section-hero-title{
        font-size:32px;
        line-height: 64px;
    }
}

@media(max-width: 480px){
    .section-hero-title{
        font-size:22px;
        line-height: 44px;
    }
}

.hero-text{
    padding-top:10px;
    font-weight: normal;
    line-height: 40px;
    color:var(--font-light);
}
@media(max-width: 768px){
.hero-text{
    padding-top:22px;
    line-height: 23px;
}
}

@media(max-width: 480px){
    .hero-text{
        font-size:16px;
    }
    }

.hero-button{
    padding-top:26px;
}
@media(max-width: 768px){
.hero-button{
    padding-top:60px;
}
}

/* BUTTONS */
.button_colored{
    font-family: "Inter";
    font-size: 20px;
    line-height: 40px;
    background-color: var(--bg-gold);
    color: var(--bg-dark);
    border:var(--bg-gold);
    height: 55px;
    width: 220px;   
}


@media(max-width: 620px){
.button_colored{
    font-family: "Inter";
    font-size: 16px;
    line-height: 20px;
    height: 45px;
    width: 110px;   
}
}

.button_colored:hover{
    transition: .3s;
    cursor: pointer;
    color: var(--font-light);  
}

.button_bordered{
    font-family: "Inter";
    font-size: 20px;
    line-height: 40px;
    background-color: transparent;
    border:var(--bg-gold) solid 1px;
    color: var(--bg-gold);
    height: 55px;
    width: 220px;   
}
@media(max-width: 620px){
    .button_bordered{
        font-family: "Inter";
        font-size: 16px;
        line-height: 20px;
        height: 45px;
        width: 110px;   
    }
    }
.button_bordered:hover{
  transition: .3s;
  cursor: pointer;
  color: var(--font-light);  
}
.portfolio-btn.light-theme:hover{
    color: var(--bg-dark);  
  }
.portfolio-btn._active {
    border:var(--bg-gold) solid 1px;
    background-color: var(--bg-gold);
    color: var(--bg-dark);
    transition: all 0.5s;
}

/* <section class="skills"> */
.skills{
  width: 100%;
  padding-top:25px;
} 


@media(max-width: 768px){
    .skills{
        margin:0 auto;
        padding-top:25px;
    }
    }

    @media(max-width: 480px){
        .skills{
            max-width: 100vw;
        }
        }
.title-skills{
    margin:0 auto;
}
.title-skills,
.title-portfolio,
.title-video,
.title-price{
    max-width: 700px;
    text-align: center; 
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color:var(--bg-gold);
    border-bottom:3px solid var(--bg-gold);
    line-height: 0.01rem;
}
@media(max-width: 1440px){
    .title-skills,
    .title-portfolio,
    .title-video,
    .title-price{
        max-width: 49vw;
    }
    }

@media(max-width: 768px){
.title-skills,
.title-portfolio,
.title-video,
.title-price{
    max-width: 47vw;
    font-size: 32px;
}
}

@media(max-width: 480px){
    .title-skills,
    .title-portfolio,
    .title-video,
    .title-price{
        max-width: 40vw;
        font-size: 25px;
    }
}

.title-text{
    background-color: var(--bg-dark);
    padding: 0 20px;
}

.title-text.light-theme{
    background-color: var(--font-light);
    color:var(--bg-gold);
} 

.layout-4-column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap; 
    padding-top:100px;
    padding-bottom:140px;
}

.layout-4-column.light-theme{
    margin:0 20px;
}

@media(max-width: 1440px){
.layout-4-column{
    max-width: 97vw;
    justify-content: space-around;
    }
}

@media(max-width: 768px){
    .layout-4-column{
        padding-top: 80px;
        padding-left: 47px;
        padding-right: 28px;
        gap: 16px;
    }
    }

    @media(max-width: 480px){
        .layout-4-column{
        max-width: 90vw;
        justify-content: center;
        padding-top: 9.4vh;
        padding-left: 0;
        padding-right: 0;
        gap: 50px;
    }
 }
    
.skill {
    background-position: center top;
    display: flex;
    max-height:240px;  
    max-width:320px; 
    flex-wrap: wrap;
  }

  @media(max-width: 1440px){
  .skill {
    max-height:29vh;  
    max-width:22.2vw; 
  }
}

@media(max-width: 768px){
  .skill {
    max-height:29vh;  
    max-width:39vw; 
  }
}
  
  .skill:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
  }

  .skill:nth-child(2) {
    background-image: url('./assets/svg/video\ 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
  }
  .skill:nth-child(3) {
    background-image: url('./assets/svg/image\ 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
  }
  .skill:nth-child(4) {
    background-image: url('./assets/svg/mic\ 1.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
  }
  
.description-skill{
    color: var(--font-light);
    padding: 100px 20px;
}

@media(max-width: 768px){
    .description-skill{
        padding: 84px 18px;
    }
}

@media(max-width: 546px){
    .description-skill{
        padding:55px 5px 0;
    }
}

h4{
    line-height: 40px;
}
@media(max-width: 480px){
    h4{
        font-size: 18px;
        line-height: 25px;
    }
}


.about__skill{
    font-size: 18px;
    line-height: 36px;
    padding-top: 20px;
}
@media(max-width: 768px){
    .about__skill{
        line-height: 21px;
    }
}

@media(max-width: 480px){
    .about__skill{
        font-size: 16px;
        line-height: 20px;
    }
}
/* <section class="portfolio" id="portfolio"> */
@media(max-width: 768px){
.portfolio{
    padding:0 162px;
}
}

@media(max-width: 480px){
    .portfolio{
        padding:0 10px;
    }
    }
.title-portfolio{
    margin-left:349px;
}
@media(max-width: 968px){
.title-portfolio{
    margin-left:24vw;
}
}
@media(max-width: 768px){
    .title-portfolio{
     margin-left:43px;
     
    }
}

.button-4-column{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; 
    padding: 99px 0 0 0;
    gap: 5px;
}

@media(max-width: 768px){
    .button-4-column{
        width: 58vw;
        justify-content: center;
        padding-top: 86px;
    }
}

.layout-6-column{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap; 
    gap: 25px;
    padding-top:59px;
}
 @media(max-width: 964px){
.layout-6-column{
    justify-content: center;
}
} 
@media(max-width: 612px){
    .layout-6-column{ 
        justify-content: center;
        flex-wrap: wrap; 
    }
}
.season__photo{
    max-height: 560px;
    max-width: 450px;
}
@media(max-width: 480px){
    .season__photo{
        display: flex;
        overflow: hidden;
        padding: 0 0 0 0;
    }
}

/* <section class="video" id="video"> */

.video{
    max-height:945px;
}

@media(max-width: 1440px){
.video{
    max-width:100vw;
}
}

.title-video{
    margin-left:352px;
    padding-top:139px;
    
}

@media(max-width: 968px){
    .title-video{
        margin-left:24vw;
    }
    }

@media(max-width: 768px){
    .title-video{
        margin-left:203px;
        padding-top:119px;
    }
}

@media(max-width: 480px){
    .title-video{
        margin-left:100px;
        padding-top:119px;
    }
}
.video-player {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-top:100px;
    
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

 @media(max-width: 1440px){
    .video-player{
        max-width:100%;
    }
    } 

  .video-player768{
    display: none;
  }
  

  @media(max-width: 768px){
    .video-player {
        display: none;
    }
}

@media(max-width: 768px){
    .video-player768{
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-top:88px;

    display: inline-block;
    width: 100%;
    overflow: hidden;
    }
}


@media(max-width: 480px){
    .video-player768{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
}

.video-play{
    position: absolute;
    background-color: transparent;
    border:none;
    cursor:pointer;
}

@media(max-width: 480px){
    .video-play{
        display: inline-block;
        padding-right:1vw;
        justify-content: center;
padding-right:50vw;
        width: 100%;
    }
}

.video-play:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: .3s;
}

/* <section class="price" id="price"> */
.price{
    max-height:845px;
}


@media(max-width: 1440px){
    .price{
        max-height:200vh;
    }
}

@media(max-width: 768px){
    .price{
        padding-bottom:1803px;
    }
}
@media(max-width: 480px){
    .price{
        padding-bottom:0px;
    }
}
.title-price{
    margin:0 auto;
    padding-top:138px;
}

@media(max-width: 768px){
    .title-price{
        padding-top:119px;
    }
}

.layout-3-column{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top:98px;
    padding-bottom: 45px;
}
@media(max-width: 960px){
    .layout-3-column{
        justify-content: center;
    }
}
@media(max-width: 768px){
    .layout-3-column{
        justify-content: center;
        padding-top:88px;
        gap: 49px;
    }
}


@media(max-width: 480px){
    .layout-3-column{
        justify-content: center;
        padding-top:88px;
        gap: 49px;
    }
}

.price__rate{
    display: flex;
    flex-direction: column;
    max-height:505px;  
    max-width:450px; 
    padding: 0px 110px 37px 110px;
    border: 4px solid var(--bg-gold);
}

@media(max-width: 768px){
    .price__rate{
        max-width:54.7vw; 
        height:65.8vh; 
        padding: -1px 110px 0px 0px;
    }
}


@media(max-width: 765px){
    .price__rate{
     padding: -1px 14vw 0px 0px;
    }
}

@media(max-width: 480px){
    .price__rate{
        max-width:54.7vw; 
        height:38vh; 
        padding: 0px 10px 0px 10px;
    }
}

h3{
    font-family: "Merriweather";
    font-size: 28px;
    line-height: 56px;
    color: var(--font-light);
    padding-top:41px;
}

@media(max-width: 765px){
    h3{
        font-size: 16px;
        line-height: 20px;
        padding-top:10px;
    }
}

.cost{
    color: var(--bg-gold);
    font-size: 24px;
    line-height: 48px;
    padding-top:10px;
    font-weight: bold;
}
@media(max-width: 768px){
.cost{
    padding-top:20px;
}
}
@media(max-width: 480px){
    .cost{
        color: var(--bg-gold);
        font-size: 16px;
        line-height: 20px;
        padding-top:10px;
    }
}

.price-description{
    flex-direction: column;
    font-family: "Inter";
    font-size: 18px;
    line-height: 36px;
    color: var(--font-light);
    padding-top:20px;
}
.price-description.light-theme{
    color: var(--bg-dark);
}

@media(max-width: 740px){
.price-description{
    font-family: "Inter";
    font-size: 16px;
    line-height: 20px;
    padding-top:10px;
    padding-right:-10px;
}
}

.price_button{
    padding-top:41px;
}

@media(max-width: 768px){
    .price_button{
        padding-top:30px;
    }
}


/* <section class="contacts" id="contacts"> */
.contacts{
    display: flex;
    max-height: 700px;
    max-width: 1440px;
    background: url(./assets/img/contacts.jpg);
    margin-top: 49px;
    margin-left: -19px;
    padding-left: 972px;
    padding-top: 75px;
    padding-bottom: 195px;
}
@media(max-width: 1440px){
    .contacts{
        max-width: 100vw;
        padding-left: 50vw;
    }
}

@media(max-width: 960px){
    .contacts{
        /* background: url('./assets/img/contacts768.jpg') no-repeat; */
        padding-left:162px;
        margin-left:0px;
        padding-bottom: 142px;
        margin-top: 10.7vh;
    }
}

@media(max-width: 768px){
    .contacts{
        background: url('./assets/img/contacts768.jpg') no-repeat;
    }
}
@media(max-width: 480px){
    .contacts{
        background: url('./assets/img/contacts768.jpg') no-repeat;
        padding-left:0px;
        margin-left:0px;
        padding-bottom:112px;
        margin-top: 11.7vh;
    }
}

.title-contact{
    padding-right:217px;
    max-width:700px;  
    text-align: center; 
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 40px;
    color: var(--bg-gold);
}

@media(max-width: 768px){
    .title-contact{
        font-size: 32px;
        padding-right:0px;
    }
}

.contact-block{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    max-height:450px;
    max-width:445px;
    row-gap: 53px;
}


@media(max-width: 480px){
.contact-block{
    justify-content: center;
    max-width:50%;
    row-gap: 0px;
}
}

.contact-us__form{
    display: flex;
}
@media(max-width: 480px){
.contact-us__form{
    max-width:50%;
    
}
}
::placeholder {
    font-family: inherit;
    color:var(--bg-gold);
    font-size: 20px;
    line-height:40px;
}

.input-email,
.input-phone{
    background-color: transparent;
    width:450px;
    height:50px;
    border: 2px solid var(--bg-gold);
    margin-bottom:22px;
    padding-left:20px;
}

@media(max-width: 610px){
    .input-email,
.input-phone{
        max-width:50%;
        padding-left:0;
       
    }
    }
.message{
    background-color: transparent;
    width:450px;
    max-height:100px;
    border: 3px solid var(--bg-gold);
    padding-left:20px;
}
@media(max-width: 610px){
    .message{
        max-width:50%;
    }
    }

.contact-button{
    padding-top:23px;
}

@media(max-width: 768px){
    .contact-button{
        padding-top:19px;
        padding-left:114px;
    }
}

/* <footer class="footer"> */
.footer-main{
    display: flex;
    justify-content: space-between;
    width:100%;
    text-align: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom:52px;
}
@media(max-width: 1440px){
    .footer-main{
        max-width:100vw;
    }
}
/* @media(max-width: 1100px){
    .footer-main{
     align-items: center;
     justify-content: center;

    }
} */
@media(max-width: 768px){
    .footer-main{
        display: flex;
        justify-content: center;
        max-width:100vw;
        flex-direction: column;
        gap: 14px;
    padding-bottom:35px;
    }
}

.footer__layout{
    display: flex;
    justify-content: space-between;
    max-width:182px;
    max-height:50px;
    padding-top: 116px;
}

@media(max-width: 768px){
    .footer__layout{
        display: flex;
        justify-content: center;
        max-width:100vw;
        max-height:24.7vh;
        padding-top: 1px;
        padding-left: 16px;
    }
}

.media_a,
.footer_one{
    font-family: "Inter";
    color:var(--font-light);
    padding-right:21px;
}

.footer__content{
    padding-top: 115px;
    padding-left:389px;
}
@media(max-width: 1100px){
    .footer__content{
        padding-left:15vw;
    }
}
@media(max-width: 768px){
    .footer__content{
        padding-top: 0px;
        padding-left:21px;
    }
}

.footer__social{
    display: flex;
    margin-left: auto; 
    max-width:188px;
    padding-top: 111px;
    justify-content: space-between;
}

@media(max-width: 768px){
    .footer__social{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto; 
        max-width:100vw;
        max-height:50vh;
        padding-top: 0;
        /* padding-right: 76px; */
    }
}
.footer__media {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    padding-left:0px;
    max-width:100%;
}
@media(max-width: 768px){
    .footer__media {
        justify-content: flex-start;
        max-width:24.5vw;
        gap:19px;
    }
}

.menu__item__footer{
    width:4.2vw;
    height:4.2vh;
}

@media(max-width: 768px){
.menu__item__footer{
    padding:10px 0px;
    width:4.2vw;
    height:4.2vh;
}
}

.nav-link-f{
line-height: 50px;
    transition: color .3s;
    margin-left: auto;
}


.nav-link-f:hover {
    color: var(--bg-gold);
    transition: .3s;
}

.menu__item__footer:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: .3s;
}
.nav-link-git:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: .3s;
}

.media_a:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: .3s;
}

.speed-down.light-theme,
.speed-up.light-theme{
    color:var(--bg-dark);
}

.player{  
    border:1px solid var(--bg-gold);
    margin-top:35px;   
}

.button{
    background-color: transparent;
    border:none;
    cursor:pointer;
    color:var(--font-light);
}

.button:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: .3s;
}


.content_video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C4C4C4;
}

.video_player{
    display:inline-block;
    max-width: 100%;
    padding:5px 5px;
    
}

.big_play{
    position: absolute;
}

.big_play._active,
.small_play._active{
    display: none;
}

/* для задания размеров картинке, пришлось дать доп класс тегу img  */
.one_big_play{
    display: inline-block;
    width:15vw;
    height:15vh;
}
.pause{
    display: none;
}
.pause._vie{
    display: block;
}

.player_controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.progress_container{
    background-color: var(--font-light);
    border-radius:0%;
    width:30vw;
    height:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:ew-resize; 
}
.progress{
    background: var(--bg-gold);
    border-radius: 0%;
    height:10px;
}

.time{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    padding:0 5px;
    color:#C4C4C4;
    font-size: 16px;
}



.currenttime,
.duration{
    font-size: 16px;
    padding: 0 10px;
    
}

 .volume{
    width:10vw;
    height:0.8vh;
    border-radius: 0%;
    background: linear-gradient(to right, var(--font-light) 0%, var(--font-light) 100%, #C4C4C4 0%, #C4C4C4 0%); 
    border: solid 2px #C4C4C4 100%;
    outline: none;
    cursor: ew-resize; 
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
  .volume::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: linear-gradient(to right, #C4C4C4 0%, #C4C4C4 100%, #C4C4C4 0%, #C4C4C4 0%); 
  } 

  .mute_button{
      display:none;
  }
  .mute_button._active{
    display:block;
}

.mute_volume._active{
    display:none;
}

  .footer{
    display: flex;
    justify-content: space-between;
    padding:0 230px;
    max-width: 98vw;
  }

  .footer_menu{
    display: flex;
    justify-content: flex-start;
    
  }

  .footer_one{
    padding: 0 10px 20px;  
  }

   .footer__content{
    display: flex;
    justify-content: flex-end; 
  }
  .nav-link-git:hover,
  .media_a:hover{
    color:var(--bg-gold);
    cursor: pointer;
    transition: .3s;
}